section#contact {
  width: 100%;
  padding: 0px 0 130px 0;
  position: relative;
  background-color: #222222;
  border-top: 0; }
  section#contact:before {
    position: absolute;
    padding-bottom: 100px;
    width: 100%;
    height: 50%;
    content: '';
    background: inherit;
    top: -50%;
    bottom: 0;
    left: 0;
    right: 0;
    transform-origin: top left;
    transform: skewY(3deg);
    z-index: -1; }
  section#contact h1, section#contact h2, section#contact p {
    color: white; }
  section#contact .MuiInputBase-root {
    color: white;
    background-color: #353535; }
  section#contact button.MuiButtonBase-root {
    margin-top: 16px;
    padding: 10px 25px;
    color: white;
    border: 1px solid #ffffff; }
