main {
  position: relative;
  background-color: #F2EEDD;
  background-image: linear-gradient(to bottom, #22DC88 0%, #1dbf73 100%);
  min-height: 500vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; }

.scroll {
  position: absolute;
  top: 50vh;
  left: 50%;
  margin-left: -7rem;
  width: 14rem;
  height: auto;
  font-family: Futura, Helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: 0.3rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  color: #405D86; }
  .scroll svg {
    margin: 0 2rem; }

.word {
  display: flex;
  flex-flow: row nowrap;
  align-items: center; }

.letter {
  position: relative;
  margin: 0 1.8rem; }
  .letter:first-of-type {
    margin-right: -2rem; }

.form {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  .form svg {
    display: block;
    width: 100%;
    height: auto; }

.fill-1 {
  fill: url(#gradient-2); }

.fill-2 {
  fill: url(#gradient-6); }

.fill-3 {
  fill: url(#gradient-3); }

.fill-4 {
  fill: url(#gradient-1); }

.fill-5 {
  fill: url(#gradient-4); }

.fill-6 {
  fill: url(#gradient-5); }

.hidden {
  position: absolute;
  top: -1000rem;
  left: -1000rem;
  width: 0;
  height: 0; }

.button {
  position: absolute;
  width: 24rem;
  height: 10rem;
  bottom: 50vh;
  left: 50%;
  margin-left: -12rem;
  font-family: Futura, Helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: 0.3rem;
  text-align: center;
  line-height: 10rem;
  text-transform: uppercase;
  font-size: 3rem;
  text-decoration: none;
  background-image: linear-gradient(to bottom, #8D63B1 0%, #8179CB 100%);
  color: #ffffff; }
  .button:hover {
    background-image: linear-gradient(to bottom, #405D86 0%, #384257 100%); }

.back-bar {
  position: fixed;
  display: inline-block;
  width: 100%;
  height: 32px;
  bottom: 35px;
  z-index: 101; }
  @media (max-width: 800px) {
    .back-bar {
      right: 0;
      bottom: 0;
      padding: 15px 0;
      height: 51px; } }
  @media (max-width: 680px) {
    .back-bar {
      background-color: rgba(255, 255, 255, 0.75); } }
  .back-bar .back {
    position: relative;
    right: 25px;
    color: white;
    text-decoration: none;
    font-weight: 700;
    float: right;
    text-align: center;
    text-transform: uppercase; }
    .back-bar .back i {
      font-size: 20px;
      position: relative;
      top: 2px;
      padding-right: 5px; }
    .back-bar .back span {
      width: 50px; }
    .back-bar .back i, .back-bar .back span {
      text-align: center;
      display: inline-block; }
    .back-bar .back svg {
      fill: url(#gradient-5); }
    .back-bar .back:hover svg {
      fill: url(#gradient-2); }
    @media (max-width: 680px) {
      .back-bar .back {
        color: #1dbf73; }
        .back-bar .back i {
          color: #1dbf73; } }

.svg-shape-1 {
  top: 414px;
  left: 1388px;
  width: 200px;
  height: 200px;
  transform: rotate(11deg);
  z-index: 10;
  position: absolute; }

.svg-shape-2 {
  top: 472px;
  left: 684px;
  width: 200px;
  height: 200px;
  transform: rotate(94deg);
  z-index: 9;
  position: absolute; }

.svg-shape-3 {
  top: 135px;
  left: 1201px;
  width: 200px;
  height: 200px;
  transform: rotate(68deg);
  z-index: 8;
  position: absolute; }

.svg-shape-4 {
  top: 391px;
  left: 636px;
  width: 200px;
  height: 200px;
  transform: rotate(282deg);
  z-index: 7;
  position: absolute; }

.svg-shape-5 {
  top: 156px;
  left: 498px;
  width: 200px;
  height: 200px;
  transform: rotate(111deg);
  z-index: 6;
  position: absolute; }

.svg-shape-6 {
  top: 81px;
  left: 1003px;
  width: 200px;
  height: 200px;
  transform: rotate(77deg);
  z-index: 5;
  position: absolute; }

.svg-shape-7 {
  top: 375px;
  left: 469px;
  width: 200px;
  height: 200px;
  transform: rotate(4deg);
  z-index: 4;
  position: absolute; }

.svg-shape-8 {
  top: 258px;
  left: 806px;
  width: 200px;
  height: 200px;
  transform: rotate(250deg);
  z-index: 3;
  position: absolute; }

.svg-shape-9 {
  top: 403px;
  left: 515px;
  width: 200px;
  height: 200px;
  transform: rotate(270deg);
  z-index: 2;
  position: absolute; }

.svg-shape-10 {
  top: 236px;
  left: 191px;
  width: 200px;
  height: 200px;
  transform: rotate(213deg);
  z-index: 1;
  position: absolute; }

.lines-container {
  transform: translateX(-50%); }
  .lines-container .svg-line-0 {
    top: 136px;
    left: 122px;
    width: 50px;
    height: 50px;
    stroke: #1d7773;
    transform: rotate(245deg);
    z-index: 32;
    position: absolute; }
  .lines-container .svg-line-1 {
    top: 356px;
    left: 918px;
    width: 50px;
    height: 50px;
    stroke: #1d7773;
    transform: rotate(102deg);
    z-index: 31;
    position: absolute; }
  .lines-container .svg-line-2 {
    top: 449px;
    left: 794px;
    width: 50px;
    height: 50px;
    stroke: #1d7773;
    transform: rotate(58deg);
    z-index: 30;
    position: absolute; }
  .lines-container .svg-line-3 {
    top: 482px;
    left: 371px;
    width: 50px;
    height: 50px;
    stroke: #1d7773;
    transform: rotate(349deg);
    z-index: 29;
    position: absolute; }
  .lines-container .svg-line-4 {
    top: 58px;
    left: 442px;
    width: 50px;
    height: 50px;
    stroke: #1d7773;
    transform: rotate(241deg);
    z-index: 28;
    position: absolute; }
  .lines-container .svg-line-5 {
    top: 106px;
    left: 103px;
    width: 50px;
    height: 50px;
    stroke: #1d7773;
    transform: rotate(168deg);
    z-index: 27;
    position: absolute; }
  .lines-container .svg-line-6 {
    top: 223px;
    left: 1099px;
    width: 50px;
    height: 50px;
    stroke: #1d7773;
    transform: rotate(134deg);
    z-index: 26;
    position: absolute; }
  .lines-container .svg-line-7 {
    top: 189px;
    left: 1059px;
    width: 50px;
    height: 50px;
    stroke: #1d7773;
    transform: rotate(26deg);
    z-index: 25;
    position: absolute; }
  .lines-container .svg-line-8 {
    top: 80px;
    left: 159px;
    width: 50px;
    height: 50px;
    stroke: #1d7773;
    transform: rotate(44deg);
    z-index: 24;
    position: absolute; }
  .lines-container .svg-line-9 {
    top: 126px;
    left: 1022px;
    width: 50px;
    height: 50px;
    stroke: #1d7773;
    transform: rotate(93deg);
    z-index: 23;
    position: absolute; }
  .lines-container .svg-line-10 {
    top: 449px;
    left: 469px;
    width: 50px;
    height: 50px;
    stroke: #1d7773;
    transform: rotate(107deg);
    z-index: 22;
    position: absolute; }
  .lines-container .svg-line-11 {
    top: 110px;
    left: 1173px;
    width: 50px;
    height: 50px;
    stroke: #1d7773;
    transform: rotate(3deg);
    z-index: 21;
    position: absolute; }
  .lines-container .svg-line-12 {
    top: 397px;
    left: 639px;
    width: 50px;
    height: 50px;
    stroke: #1d7773;
    transform: rotate(228deg);
    z-index: 20;
    position: absolute; }
  .lines-container .svg-line-13 {
    top: 454px;
    left: 297px;
    width: 50px;
    height: 50px;
    stroke: #1d7773;
    transform: rotate(130deg);
    z-index: 19;
    position: absolute; }
  .lines-container .svg-line-14 {
    top: 240px;
    left: 232px;
    width: 50px;
    height: 50px;
    stroke: #1d7773;
    transform: rotate(180deg);
    z-index: 18;
    position: absolute; }
  .lines-container .svg-line-15 {
    top: 228px;
    left: 103px;
    width: 50px;
    height: 50px;
    stroke: #1d7773;
    transform: rotate(13deg);
    z-index: 17;
    position: absolute; }
  .lines-container .svg-line-16 {
    top: 383px;
    left: 888px;
    width: 50px;
    height: 50px;
    stroke: #1d7773;
    transform: rotate(314deg);
    z-index: 16;
    position: absolute; }
  .lines-container .svg-line-17 {
    top: 338px;
    left: 1066px;
    width: 50px;
    height: 50px;
    stroke: #1d7773;
    transform: rotate(181deg);
    z-index: 15;
    position: absolute; }
  .lines-container .svg-line-18 {
    top: 199px;
    left: 103px;
    width: 50px;
    height: 50px;
    stroke: #1d7773;
    transform: rotate(334deg);
    z-index: 14;
    position: absolute; }
  .lines-container .svg-line-19 {
    top: 432px;
    left: 912px;
    width: 50px;
    height: 50px;
    stroke: #1d7773;
    transform: rotate(236deg);
    z-index: 13;
    position: absolute; }
  .lines-container .svg-line-20 {
    top: 61px;
    left: 750px;
    width: 50px;
    height: 50px;
    stroke: #1d7773;
    transform: rotate(267deg);
    z-index: 12;
    position: absolute; }
  .lines-container .svg-line-21 {
    top: 12px;
    left: 113px;
    width: 50px;
    height: 50px;
    stroke: #1d7773;
    transform: rotate(113deg);
    z-index: 11;
    position: absolute; }
  .lines-container .svg-line-22 {
    top: 167px;
    left: 729px;
    width: 50px;
    height: 50px;
    stroke: #1d7773;
    transform: rotate(180deg);
    z-index: 10;
    position: absolute; }
  .lines-container .svg-line-23 {
    top: 355px;
    left: 245px;
    width: 50px;
    height: 50px;
    stroke: #1d7773;
    transform: rotate(96deg);
    z-index: 9;
    position: absolute; }
  .lines-container .svg-line-24 {
    top: 4px;
    left: 34px;
    width: 50px;
    height: 50px;
    stroke: #1d7773;
    transform: rotate(324deg);
    z-index: 8;
    position: absolute; }
  .lines-container .svg-line-25 {
    top: 87px;
    left: 585px;
    width: 50px;
    height: 50px;
    stroke: #1d7773;
    transform: rotate(337deg);
    z-index: 7;
    position: absolute; }
  .lines-container .svg-line-26 {
    top: 65px;
    left: 899px;
    width: 50px;
    height: 50px;
    stroke: #1d7773;
    transform: rotate(166deg);
    z-index: 6;
    position: absolute; }
  .lines-container .svg-line-27 {
    top: 31px;
    left: 1147px;
    width: 50px;
    height: 50px;
    stroke: #1d7773;
    transform: rotate(30deg);
    z-index: 5;
    position: absolute; }
  .lines-container .svg-line-28 {
    top: 104px;
    left: 38px;
    width: 50px;
    height: 50px;
    stroke: #1d7773;
    transform: rotate(327deg);
    z-index: 4;
    position: absolute; }
  .lines-container .svg-line-29 {
    top: 498px;
    left: 1094px;
    width: 50px;
    height: 50px;
    stroke: #1d7773;
    transform: rotate(297deg);
    z-index: 3;
    position: absolute; }
  .lines-container .svg-line-30 {
    top: 414px;
    left: 60px;
    width: 50px;
    height: 50px;
    stroke: #1d7773;
    transform: rotate(152deg);
    z-index: 2;
    position: absolute; }
  .lines-container .svg-line-31 {
    top: 62px;
    left: 1073px;
    width: 50px;
    height: 50px;
    stroke: #1d7773;
    transform: rotate(324deg);
    z-index: 1;
    position: absolute; }
  .lines-container .svg-line-32 {
    top: 7px;
    left: 961px;
    width: 50px;
    height: 50px;
    stroke: #1d7773;
    transform: rotate(167deg);
    z-index: 0;
    position: absolute; }
  .lines-container .svg-line-33 {
    top: 390px;
    left: 1020px;
    width: 50px;
    height: 50px;
    stroke: #1d7773;
    transform: rotate(230deg);
    z-index: -1;
    position: absolute; }
  .lines-container .svg-line-34 {
    top: 353px;
    left: 39px;
    width: 50px;
    height: 50px;
    stroke: #1d7773;
    transform: rotate(295deg);
    z-index: -2;
    position: absolute; }
  .lines-container .svg-line-35 {
    top: 486px;
    left: 548px;
    width: 50px;
    height: 50px;
    stroke: #1d7773;
    transform: rotate(311deg);
    z-index: -3;
    position: absolute; }
  .lines-container .svg-line-36 {
    top: 340px;
    left: 876px;
    width: 50px;
    height: 50px;
    stroke: #1d7773;
    transform: rotate(331deg);
    z-index: -4;
    position: absolute; }
  .lines-container .svg-line-37 {
    top: 62px;
    left: 579px;
    width: 50px;
    height: 50px;
    stroke: #1d7773;
    transform: rotate(277deg);
    z-index: -5;
    position: absolute; }
  .lines-container .svg-line-38 {
    top: 126px;
    left: 872px;
    width: 50px;
    height: 50px;
    stroke: #1d7773;
    transform: rotate(200deg);
    z-index: -6;
    position: absolute; }
  .lines-container .svg-line-39 {
    top: 211px;
    left: 476px;
    width: 50px;
    height: 50px;
    stroke: #1d7773;
    transform: rotate(61deg);
    z-index: -7;
    position: absolute; }
  .lines-container .svg-line-40 {
    top: 364px;
    left: 334px;
    width: 50px;
    height: 50px;
    stroke: #1d7773;
    transform: rotate(55deg);
    z-index: -8;
    position: absolute; }
  .lines-container .svg-line-41 {
    top: 418px;
    left: 531px;
    width: 50px;
    height: 50px;
    stroke: #1d7773;
    transform: rotate(238deg);
    z-index: -9;
    position: absolute; }
  .lines-container .svg-line-42 {
    top: 31px;
    left: 913px;
    width: 50px;
    height: 50px;
    stroke: #1d7773;
    transform: rotate(353deg);
    z-index: -10;
    position: absolute; }
  .lines-container .svg-line-43 {
    top: 477px;
    left: 1057px;
    width: 50px;
    height: 50px;
    stroke: #1d7773;
    transform: rotate(133deg);
    z-index: -11;
    position: absolute; }
  .lines-container .svg-line-44 {
    top: 79px;
    left: 543px;
    width: 50px;
    height: 50px;
    stroke: #1d7773;
    transform: rotate(100deg);
    z-index: -12;
    position: absolute; }
  .lines-container .svg-line-45 {
    top: 378px;
    left: 681px;
    width: 50px;
    height: 50px;
    stroke: #1d7773;
    transform: rotate(266deg);
    z-index: -13;
    position: absolute; }
  .lines-container .svg-line-46 {
    top: 378px;
    left: 157px;
    width: 50px;
    height: 50px;
    stroke: #1d7773;
    transform: rotate(109deg);
    z-index: -14;
    position: absolute; }
  .lines-container .svg-line-47 {
    top: 149px;
    left: 71px;
    width: 50px;
    height: 50px;
    stroke: #1d7773;
    transform: rotate(191deg);
    z-index: -15;
    position: absolute; }
  .lines-container .svg-line-48 {
    top: 358px;
    left: 187px;
    width: 50px;
    height: 50px;
    stroke: #1d7773;
    transform: rotate(234deg);
    z-index: -16;
    position: absolute; }
  .lines-container .svg-line-49 {
    top: 117px;
    left: 142px;
    width: 50px;
    height: 50px;
    stroke: #1d7773;
    transform: rotate(155deg);
    z-index: -17;
    position: absolute; }
  .lines-container .svg-line-50 {
    top: 201px;
    left: 1109px;
    width: 50px;
    height: 50px;
    stroke: #1d7773;
    transform: rotate(266deg);
    z-index: -18;
    position: absolute; }

.squares-container {
  transform: translateX(-50%);
  z-index: -1; }
  .squares-container .svg-square-0 {
    top: 685px;
    left: 393px;
    width: 400px;
    height: 400px;
    transform: rotate(20deg);
    position: absolute; }
    .squares-container .svg-square-0 .square-0 path {
      transform: translate(50%, 50%);
      fill: rgba(29, 119, 50, 0.5); }
  .squares-container .svg-square-1 {
    top: 574px;
    left: 347px;
    width: 400px;
    height: 400px;
    transform: rotate(37deg);
    position: absolute; }
    .squares-container .svg-square-1 .square-1 path {
      transform: translate(50%, 50%);
      fill: rgba(29, 119, 110, 0.5); }
  .squares-container .svg-square-2 {
    top: 695px;
    left: 1020px;
    width: 400px;
    height: 400px;
    transform: rotate(3deg);
    position: absolute; }
    .squares-container .svg-square-2 .square-2 path {
      transform: translate(50%, 50%);
      fill: rgba(29, 119, 100, 0.5); }
  .squares-container .svg-square-3 {
    top: 895px;
    left: 304px;
    width: 400px;
    height: 400px;
    transform: rotate(23deg);
    position: absolute; }
    .squares-container .svg-square-3 .square-3 path {
      transform: translate(50%, 50%);
      fill: rgba(29, 119, 62, 0.5); }
  .squares-container .svg-square-4 {
    top: 861px;
    left: 826px;
    width: 400px;
    height: 400px;
    transform: rotate(27deg);
    position: absolute; }
    .squares-container .svg-square-4 .square-4 path {
      transform: translate(50%, 50%);
      fill: rgba(29, 119, 44, 0.5); }
  .squares-container .svg-square-5 {
    top: 565px;
    left: 253px;
    width: 400px;
    height: 400px;
    transform: rotate(22deg);
    position: absolute; }
    .squares-container .svg-square-5 .square-5 path {
      transform: translate(50%, 50%);
      fill: rgba(29, 119, 74, 0.5); }
  .squares-container .svg-square-6 {
    top: 300px;
    left: 900px;
    width: 400px;
    height: 400px;
    transform: rotate(21deg);
    position: absolute; }
    .squares-container .svg-square-6 .square-6 path {
      transform: translate(50%, 50%);
      fill: rgba(29, 119, 78, 0.5); }
  .squares-container .svg-square-7 {
    top: 204px;
    left: 855px;
    width: 400px;
    height: 400px;
    transform: rotate(20deg);
    position: absolute; }
    .squares-container .svg-square-7 .square-7 path {
      transform: translate(50%, 50%);
      fill: rgba(29, 119, 92, 0.5); }
  .squares-container .svg-square-8 {
    top: 416px;
    left: 714px;
    width: 400px;
    height: 400px;
    transform: rotate(34deg);
    position: absolute; }
    .squares-container .svg-square-8 .square-8 path {
      transform: translate(50%, 50%);
      fill: rgba(29, 119, 113, 0.5); }
  .squares-container .svg-square-9 {
    top: 413px;
    left: 860px;
    width: 400px;
    height: 400px;
    transform: rotate(22deg);
    position: absolute; }
    .squares-container .svg-square-9 .square-9 path {
      transform: translate(50%, 50%);
      fill: rgba(29, 119, 10, 0.5); }
  .squares-container .svg-square-10 {
    top: 461px;
    left: 993px;
    width: 400px;
    height: 400px;
    transform: rotate(15deg);
    position: absolute; }
    .squares-container .svg-square-10 .square-10 path {
      transform: translate(50%, 50%);
      fill: rgba(29, 119, 77, 0.5); }

.sunsetbg {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' %3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%231dbf73'/%3E%3Cstop offset='1' stop-color='%23083620'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpattern id='b' width='24' height='24' patternUnits='userSpaceOnUse'%3E%3Ccircle fill='%23ffffff' cx='12' cy='12' r='12'/%3E%3C/pattern%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3Crect width='100%25' height='100%25' fill='url(%23b)' fill-opacity='0.1'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover; }

[class^=pol-] {
  stroke: #1dbf73;
  stroke-width: 1px;
  fill: transparent;
  position: relative; }
  [class^=pol-] path {
    transform: translate(50%, 50%) !important; }

.line {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 21; }
  .line .timeline .left {
    width: 47.5%;
    float: left;
    padding: 10px;
    margin-bottom: 1em;
    text-align: right; }
    @media (max-width: 1200px) {
      .line .timeline .left {
        left: 0; } }
    .line .timeline .left p, .line .timeline .left h3, .line .timeline .left h4, .line .timeline .left h2 {
      color: white; }
    .line .timeline .left p {
      font-weight: 600; }
    .line .timeline .left h2 {
      margin-bottom: 5px; }
    .line .timeline .left h3 {
      margin-top: 10px; }
    .line .timeline .left .date {
      color: white; }
    .line .timeline .left .hexagon {
      color: white;
      background-color: #fff; }
      .line .timeline .left .hexagon:before, .line .timeline .left .hexagon:after {
        z-index: 2;
        right: calc((100% / 2) - ((174% * 0.57735) / 2)); }
  .line .timeline .right {
    float: right;
    width: 47.5%;
    text-align: left;
    right: -10px; }
    @media (max-width: 1200px) {
      .line .timeline .right {
        right: 0; } }
    .line .timeline .right .hexagon {
      color: white;
      background-color: #fff; }
      .line .timeline .right .hexagon:before, .line .timeline .right .hexagon:after {
        z-index: 2;
        right: calc((100% / 2) - ((26% * 0.57735) / 2)); }
    .line .timeline .right p, .line .timeline .right h3, .line .timeline .right h4, .line .timeline .right h2 {
      color: white; }
    .line .timeline .right p {
      font-weight: 600; }
    .line .timeline .right h2 {
      margin-bottom: 5px; }
    .line .timeline .right h3 {
      margin-top: 10px; }
  .line .timeline .left, .line .timeline .right {
    position: absolute;
    margin-bottom: 2em;
    margin-top: 2em; }
    @media (max-width: 1200px) {
      .line .timeline .left, .line .timeline .right {
        width: calc(47.5% - 35px); } }
    @media (max-width: 800px) {
      .line .timeline .left, .line .timeline .right {
        width: 100%;
        padding: 0 60px;
        text-align: center;
        position: relative;
        margin-top: 6em;
        margin-bottom: 6em; } }
    @media (max-width: 680px) {
      .line .timeline .left, .line .timeline .right {
        padding: 0 40px; } }
    .line .timeline .left .icon, .line .timeline .right .icon {
      height: 100px; }
    .line .timeline .left .skills, .line .timeline .right .skills {
      width: 100%;
      display: inline-block;
      float: left; }
      .line .timeline .left .skills p, .line .timeline .right .skills p {
        font-weight: bold;
        text-transform: capitalize; }
      .line .timeline .left .skills h4, .line .timeline .right .skills h4 {
        font-size: 1.4em;
        margin-bottom: 8px; }
      .line .timeline .left .skills ul, .line .timeline .right .skills ul {
        padding-left: 15px; }
        .line .timeline .left .skills ul li, .line .timeline .right .skills ul li {
          color: white;
          font-weight: bold; }
  .line .timeline .left:empty, .line .timeline .right:empty {
    display: none; }

.app-nav {
  position: fixed;
  width: 70px;
  top: 50%;
  right: 0;
  bottom: 0;
  height: 100%;
  z-index: 101;
  transform: translateX(-50%); }
  @media (max-width: 800px) {
    .app-nav {
      transform: translateX(0%);
      transform: translateY(-50%);
      height: 167px;
      right: 15px;
      padding: 0; } }
  .app-nav ul {
    position: relative;
    list-style: none;
    list-style-image: none;
    padding: 0 0 0 40px; }
    .app-nav ul li {
      display: inline-block;
      margin-bottom: 7px; }
      .app-nav ul li:hover a {
        border: 3px solid #FFF;
        padding: 0;
        background: transparent;
        outline: 0; }
      .app-nav ul li:hover span {
        display: block;
        top: -5px;
        left: -113px; }
      .app-nav ul li a {
        display: block;
        height: 16px;
        width: 16px;
        border: none;
        background: #FFF;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        margin: 0;
        position: relative; }
        .app-nav ul li a span {
          display: none;
          position: absolute;
          color: #FFF;
          font-family: 'museo-sans', sans-serif;
          font-weight: 900;
          left: -110px;
          text-align: right;
          top: -2px;
          width: 100px; }

.parallax-outer.background {
  position: relative;
  z-index: 2; }
  .parallax-outer.background .parallax-inner {
    display: inline-block;
    width: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%); }

.parallax-inner {
  display: inline-block;
  width: 100%;
  position: relative; }

section {
  position: relative; }
  section.time-span {
    border: 0;
    height: 100vh; }
    @media (max-width: 800px) {
      section.time-span {
        display: inline-block;
        height: auto;
        padding: 100px 0 0 0;
        float: left; } }
    section.time-span:last-child {
      height: 915px; }
      @media (max-width: 680px) {
        section.time-span:last-child {
          height: 100%; } }
    section.time-span.waves {
      position: relative; }
      section.time-span.waves .wave-1, section.time-span.waves .wave-2 {
        display: inline-block;
        width: 100%;
        float: left;
        margin: 0;
        padding: 0;
        height: auto;
        z-index: 0;
        position: absolute;
        top: 0;
        left: 0; }
        section.time-span.waves .wave-1 svg, section.time-span.waves .wave-2 svg {
          height: 100%;
          width: 100%;
          display: inline-block; }
      section.time-span.waves .wave-2 {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
        top: 380px; }
        @media (max-width: 1736px) {
          section.time-span.waves .wave-2 {
            top: calc(380px - 10%); } }
        @media (max-width: 1414px) {
          section.time-span.waves .wave-2 {
            top: calc(310px - 10%); } }
        @media (max-width: 1120px) {
          section.time-span.waves .wave-2 {
            top: calc(300px - 10%); } }
        @media (max-width: 1074px) {
          section.time-span.waves .wave-2 {
            top: calc(290px - 10%); } }
        @media (max-width: 1074px) {
          section.time-span.waves .wave-2 {
            top: calc(290px - 12.5%); } }
        @media (max-width: 997px) {
          section.time-span.waves .wave-2 {
            top: calc(280px - 12.5%); } }
        @media (max-width: 912px) {
          section.time-span.waves .wave-2 {
            top: calc(275px - 15%); } }
        @media (max-width: 830px) {
          section.time-span.waves .wave-2 {
            top: calc(270px - 12.5%); } }
        @media (max-width: 768px) {
          section.time-span.waves .wave-2 {
            top: calc(260px - 12.5%); } }
        @media (max-width: 768px) {
          section.time-span.waves .wave-2 {
            top: calc(250px - 12.5%); } }
        @media (max-width: 655px) {
          section.time-span.waves .wave-2 {
            top: calc(240px - 12.25%); } }
        @media (max-width: 610px) {
          section.time-span.waves .wave-2 {
            top: calc(230px - 15%); } }
        @media (max-width: 590px) {
          section.time-span.waves .wave-2 {
            top: calc(230px - 15%); } }
    section.time-span:before {
      content: '';
      width: 2px;
      height: 130px;
      background-color: #ffffff;
      position: absolute;
      right: 0;
      left: 0;
      margin: 0 auto;
      top: 0;
      z-index: 1; }
      @media (max-width: 800px) {
        section.time-span:before {
          z-index: 5;
          opacity: 0.45;
          height: 100px; } }
    section.time-span:after {
      content: '';
      width: 2px;
      height: calc(100% - 167px);
      background-color: #ffffff;
      position: absolute;
      right: 0;
      left: 0;
      margin: 0 auto;
      top: 265px; }
      @media (max-width: 800px) {
        section.time-span:after {
          opacity: 0.45;
          height: 100px;
          top: 235px; } }
  section .container {
    position: relative;
    padding: 50px 3%;
    width: 94%;
    max-width: 1200px;
    margin: 0 auto;
    z-index: 1; }
    @media (max-width: 800px) {
      section .container {
        display: inline-block;
        padding: 50px 3% 0; } }
    section .container .row {
      width: 100%;
      display: inline-block;
      float: left; }
    section .container header.timeline {
      width: 100%;
      height: auto;
      background-color: transparent;
      min-height: 100%;
      position: relative;
      overflow: visible; }
      @media (max-width: 800px) {
        section .container header.timeline {
          display: inline-block;
          margin-bottom: 55px; } }
      section .container header.timeline:before, section .container header.timeline:after {
        content: ' ';
        display: block;
        position: absolute;
        width: 20px;
        height: 20px;
        border: 5px solid #FFF;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        background: transparent;
        z-index: 10;
        transform: translateX(-50%); }
      section .container header.timeline h2 {
        color: white; }
        @media (max-width: 800px) {
          section .container header.timeline h2 {
            margin: 0; } }
        section .container header.timeline h2 .letters-tag {
          display: inline-block; }
      section .container header.timeline:before {
        left: 50%;
        top: -50px; }
      section .container header.timeline:after {
        left: 50%;
        bottom: -50px; }
    section .container div.timeline {
      width: 100%;
      display: inline-block;
      float: left; }
    @media (max-width: 800px) {
      section .container .custom-class .parallax-inner {
        transform: translate3d(0%, 0%, 0) !important; } }
  section:nth-child(4) {
    background-color: #1dbf73; }
    section:nth-child(4):before {
      height: 430px;
      top: -304px; }
      @media (max-width: 800px) {
        section:nth-child(4):before {
          z-index: 5;
          opacity: 0.45;
          height: 100px;
          top: 0; } }
    section:nth-child(4) .svg-edge {
      width: 100%;
      height: 350px;
      display: inline-block;
      position: absolute;
      top: -350px;
      left: 0;
      z-index: -1; }
      section:nth-child(4) .svg-edge svg {
        width: 100%; }
        section:nth-child(4) .svg-edge svg path {
          width: 100%; }
  section:last-child:before {
    height: 430px;
    top: -304px; }
    @media (max-width: 800px) {
      section:last-child:before {
        height: 100px;
        top: 0; } }
  section:last-child .svg-edge-2 {
    width: 100%;
    height: 350px;
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0;
    z-index: -1;
    transform: scaleY(-1); }
    section:last-child .svg-edge-2 svg {
      width: 100%; }
      section:last-child .svg-edge-2 svg path {
        width: 100%; }
