nav {
  display: inline-block;
  padding: 10px 15px;

  width: 100%;
  position: relative;


  &.scrollNav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }

  a {
    cursor: pointer;

    &.btn {
      font-size: 1.2em;
      padding-left: 20px;
      color: white;
      font-weight: 600;
    }

    &.btn-mobile {
      font-size: 1.2em;
      padding-left: 20px;
      color: white;
      font-weight: 600;
    }


    &.active {
      color: #20dc88;
    }

    &.btn, &.active {
      display: inline-block;
      transform: scale(1.0);
      transition: .5s;

      &:hover {
        color: #1dbf73;
        transform: scale(1.2);
      }
    }
  }

  &.Desktop {
    display: none;
    @media(min-width: 681px){
      display: inline-block;
      background-color: #353535;
    }
  }

  &.Mobile {

    display: none;
    @media(max-width: 680px){

      display: inline-block;
      position: fixed;
      width: 40px;
      height: 40px;
      top: 15px;
      left: 16px;
      border-radius:50%;
      padding: 0;
      background-color: white;
      z-index: 21;
      overflow: visible;
      transition: all 0.2s;
    }

    .mobile-nav {
      position: absolute;
      left: 50%;
      top: 50%;
      display: inline-block;
      float: left;
      width: 22px;
      height: 30px;
      transform: translate(-50%, -50%);
      i {
        @media(max-width: 680px) {
          display: inline-block;
          float: left;
          color: #31323C;
          font-size: 25px;
          line-height: 30px;
          position: relative;
          top: 0;
        }
      }
    }

    &.scrollNavMobile {
      @media(max-width: 680px) {
        background-color: #1dbf73;
        transition-timing-function: ease;
        .mobile-nav {
          i {
            color: white;
            transition-timing-function: ease;
          }
        }
      }
    }

    &.scrollNavMobileTimeline {
      @media(max-width: 680px) {
        background-color: white;
        transition-timing-function: ease;
        z-index: 32;
        .mobile-nav {
          i {
            color: #1dbf73;
            transition-timing-function: ease;
          }
        }
      }
    }
  }
}

.nav-item {
  position: absolute;
  left: -9999px;
  transition: all 1s;

  &.open {
    width:100%;
    height: 100%;
    min-height: 500px;
    left: 0;
    top: 0;
    z-index: 2;
    position: fixed;
    display: inline-block;
    background-color: white;
    overflow: hidden;
    //transition-timing-function: ease-in;
  }

  ul {
    &.menu-list {
      display: inline-block;
      list-style: none;
      width: 150px;
      position: absolute;
      padding-left: 0;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      li {
        margin: 15px 0;

        a {
          font-size: 1.2em;
          text-decoration: none;

          &.btn-mobile {

          }
          &.btn-mobile-timeline {
            color: #1dbf73;
          }
        }
      }
    }
  }
}

.nav-item-timeline {
  @extend .nav-item;

  &.open {
    @extend .nav-item.open;
    z-index: 22;
  }
}